# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [2]:
import numpy as np
import pandas as pd

recipes=pd.read_csv('recipes_sample.csv', delimiter=',')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [3]:
reviews=pd.read_csv('reviews_sample.csv', delimiter=',', index_col=0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [4]:
print('кол-во строк:', recipes.shape[0],';', reviews.shape[0])
print('кол-во столбцов:', recipes.shape[1],';', reviews.shape[1])
print(recipes.dtypes,'\n')
print(reviews.dtypes)

кол-во строк: 30000 ; 126696
кол-во столбцов: 8 ; 5
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [22]:

print("Доля строк с пропусками в recipes:",(recipes.isnull().sum().sum() / recipes.size)*100,'%')
print("Доля строк с пропусками в reviews:",(reviews.isnull().sum().sum() / reviews.size)*100,'%')

Доля строк с пропусками в recipes: 8.622083333333332 %
Доля строк с пропусками в reviews: 0.002683589063585275 %

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [26]:
num_columns = recipes.select_dtypes(include=['int64', 'float64']).columns
means = recipes[num_columns].mean()
print(means,'\n')
num_columns1 = reviews.select_dtypes(include=['int64', 'float64']).columns
means1 = reviews[num_columns1].mean()
print(means1)

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [27]:
random_recipe_names = recipes['name'].sample(n=10)
print(random_recipe_names)

24704                        snowy night short rib stew
24687                        snickerdoodle pinwheels  2
9774              easy   delicious orange slice cookies
29483    winter stew with lean beef  beans  and veggies
1120                         armenian pizza   lahmajoun
16387                   lovely   simple bolognese sauce
3363                                   blueberry bagels
26261                         sugar free strawberry pie
28531                      vanilla pudding from scratch
8473     crisp roasted fish strips  squash and potatoes
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [28]:
reviews = reviews.reset_index(drop=True)
print(reviews)

           user_id  recipe_id        date  rating  \
0            21752      57993  2003-05-01       5
1           431813     142201  2007-09-16       5
2           400708     252013  2008-01-10       4
3       2001852463     404716  2017-12-11       5
4            95810     129396  2008-03-14       5
...            ...        ...         ...     ...
126691     1270706     335534  2009-05-17       4
126692     2282344       8701  2012-06-03       0
126693      689540     222001  2008-04-08       5
126694  2000242659     354979  2015-06-02       5
126695      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 5 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [29]:
filter_recipes = recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]
print(filter_recipes[['name', 'minutes', 'n_ingredients']])

                                                    name  minutes  \
28                                   quick biscuit bread       20
60                         peas  fit for a king or queen       20
90                     hawaiian sunrise           mimosa        5
91            tasty dish s   banana pudding in 2 minutes        2
94                                    1 minute meatballs       13
...                                                  ...      ...
29873  zip and steam red potatoes with butter and garlic       13
29874                          ziplock vanilla ice cream       10
29905                      zucchini and corn with cheese       15
29980               zucchini with jalapeno monterey jack       10
29983                          zucchini with serrano ham       15

       n_ingredients
28               5.0
60               5.0
90               3.0
91               4.0
94               2.0
...              ...
29873            5.0
29874            3.0
29905            5.0
29980            3.0
29983            5.0

[2019 rows x 3 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [36]:
recipes = pd.read_csv('recipes_sample.csv', parse_dates=['submitted'])
print(recipes[['name', 'submitted']],'\n')
print(recipes.dtypes['submitted'])

                                               name  submitted
0             george s at the cove  black bean soup 2002-10-25
1                healthy for them  yogurt popsicles 2003-07-26
2                      i can t believe it s spinach 2002-08-29
3                              italian  gut busters 2002-07-27
4          love is in the air  beef fondue   sauces 2004-02-23
...                                             ...        ...
29995  zurie s holey rustic olive and cheddar bread 2007-11-25
29996          zwetschgenkuchen  bavarian plum cake 2009-08-24
29997   zwiebelkuchen   southwest german onion cake 2004-11-03
29998                                   zydeco soup 2012-08-29
29999        cookies by design   cookies on a stick 2008-04-15

[30000 rows x 2 columns]

datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [37]:
filtered_recipes = recipes[recipes['submitted'].dt.year <= 2010]
print(filtered_recipes[['name', 'submitted']])

                                               name  submitted
0             george s at the cove  black bean soup 2002-10-25
1                healthy for them  yogurt popsicles 2003-07-26
2                      i can t believe it s spinach 2002-08-29
3                              italian  gut busters 2002-07-27
4          love is in the air  beef fondue   sauces 2004-02-23
...                                             ...        ...
29993                     zuni caf zucchini pickles 2008-07-31
29995  zurie s holey rustic olive and cheddar bread 2007-11-25
29996          zwetschgenkuchen  bavarian plum cake 2009-08-24
29997   zwiebelkuchen   southwest german onion cake 2004-11-03
29999        cookies by design   cookies on a stick 2008-04-15

[27661 rows x 2 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [42]:
recipes['description_length'] = recipes['description'].apply(lambda x: len(str(x)))
print(recipes[['name', 'description', 'description_length']])

                                               name  \
0             george s at the cove  black bean soup
1                healthy for them  yogurt popsicles
2                      i can t believe it s spinach
3                              italian  gut busters
4          love is in the air  beef fondue   sauces
...                                             ...
29995  zurie s holey rustic olive and cheddar bread
29996          zwetschgenkuchen  bavarian plum cake
29997   zwiebelkuchen   southwest german onion cake
29998                                   zydeco soup
29999        cookies by design   cookies on a stick

                                             description  description_length
0      an original recipe created by chef scott meska...                 330
1      my children and their friends ask for my homem...                 255
2                these were so go, it surprised even me.                  39
3      my sister-in-law made these for us at a family...                 154
4      i think a fondue is a very romantic casual din...                 587
...                                                  ...                 ...
29995  this is based on a french recipe but i changed...                 484
29996  this is a traditional fresh plum cake, thought...                 286
29997  this is a traditional late summer early fall s...                 311
29998  this is a delicious soup that i originally fou...                 648
29999  i've heard of the 'cookies by design' company,...                 125

[30000 rows x 3 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [43]:
recipes['name'] = recipes['name'].str.title()
print(recipes[['name']])

                                               name
0             George S At The Cove  Black Bean Soup
1                Healthy For Them  Yogurt Popsicles
2                      I Can T Believe It S Spinach
3                              Italian  Gut Busters
4          Love Is In The Air  Beef Fondue   Sauces
...                                             ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread
29996          Zwetschgenkuchen  Bavarian Plum Cake
29997   Zwiebelkuchen   Southwest German Onion Cake
29998                                   Zydeco Soup
29999        Cookies By Design   Cookies On A Stick

[30000 rows x 1 columns]

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [44]:
recipes['name_word_count'] = recipes['name'].apply(lambda x: len(x.split()))
print(recipes[['name', 'name_word_count']])

                                               name  name_word_count
0             George S At The Cove  Black Bean Soup                8
1                Healthy For Them  Yogurt Popsicles                5
2                      I Can T Believe It S Spinach                7
3                              Italian  Gut Busters                3
4          Love Is In The Air  Beef Fondue   Sauces                8
...                                             ...              ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread                8
29996          Zwetschgenkuchen  Bavarian Plum Cake                4
29997   Zwiebelkuchen   Southwest German Onion Cake                5
29998                                   Zydeco Soup                2
29999        Cookies By Design   Cookies On A Stick                7

[30000 rows x 2 columns]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [48]:
recipes=pd.read_csv('recipes_sample.csv', delimiter=',')
recipe_counts = recipes['contributor_id'].value_counts()
print(recipe_counts)
maxid = recipe_counts.idxmax()
print(f"Участник с ID {maxid} добавил максимальное количество рецептов: {recipe_counts[maxid]}")

89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: contributor_id, Length: 8404, dtype: int64
Участник с ID 89831 добавил максимальное количество рецептов: 421

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [54]:
mean_rating =reviews['rating'].mean()
no_reviews = len(reviews) - len(reviews.dropna(subset=['review']))
print(mean_rating, no_reviews)

4.410802235271832 17

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [55]:
recipes=pd.read_csv('recipes_sample.csv', delimiter=',')
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes['year'] = recipes['submitted'].dt.year
recipe_count_by_year = recipes.groupby('year')['name'].count()
print(recipe_count_by_year)

year
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [56]:
merged = pd.merge(recipes[['id', 'name', 'contributor_id']], 
                  reviews.groupby('recipe_id')[['rating']].agg(['count', 'mean']).reset_index(),
                  left_on='id', right_on='recipe_id', how='inner')
merged.columns = ['id', 'name', 'contributor_id', 'review_count', 'average_rating']
result = merged[['id', 'name', 'contributor_id', 'average_rating']]
print(result)

C:\Users\billi\AppData\Local\Temp\ipykernel_10536\256171876.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  merged = pd.merge(recipes[['id', 'name', 'contributor_id']],

ValueError: Length mismatch: Expected axis has 6 elements, new values have 5 elements

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.